.ba { border: solid 1px; }
.bt { border-top: solid 1px; }
.br { border-right: solid 1px; }
.bb { border-bottom: solid 1px; }
.bl { border-left: solid 1px; }
.bs-none { border-style: none; }
.bs-dotted { border-style: dotted; }
.bs-dashed { border-style: dashed; }
.bs-solid { border-style: solid; }
.bs-double { border-style: double; }
.bs-groove { border-style: groove; }
.bs-ridge { border-style: ridge; }
.bs-inset { border-style: inset; }
.bs-outset { border-style: outset; }

.bts-none { border-top-style: none; }
.bts-dotted { border-top-style: dotted; }
.bts-dashed { border-top-style: dashed; }
.bts-solid { border-top-style: solid; }
.bts-double { border-top-style: double; }
.bts-groove { border-top-style: groove; }
.bts-ridge { border-top-style: ridge; }
.bts-inset { border-top-style: inset; }
.bts-outset { border-top-style: outset; }

.brs-none { border-right-style: none; }
.brs-dotted { border-right-style: dotted; }
.brs-dashed { border-right-style: dashed; }
.brs-solid { border-right-style: solid; }
.brs-double { border-right-style: double; }
.brs-groove { border-right-style: groove; }
.brs-ridge { border-right-style: ridge; }
.brs-inset { border-right-style: inset; }
.brs-outset { border-right-style: outset; }

.bbs-none { border-bottom-style: none; }
.bbs-dotted { border-bottom-style: dotted; }
.bbs-dashed { border-bottom-style: dashed; }
.bbs-solid { border-bottom-style: solid; }
.bbs-double { border-bottom-style: double; }
.bbs-groove { border-bottom-style: groove; }
.bbs-ridge { border-bottom-style: ridge; }
.bbs-inset { border-bottom-style: inset; }
.bbs-outset { border-bottom-style: outset; }

.bls-none { border-left-style: none; }
.bls-dotted { border-left-style: dotted; }
.bls-dashed { border-left-style: dashed; }
.bls-solid { border-left-style: solid; }
.bls-double { border-left-style: double; }
.bls-groove { border-left-style: groove; }
.bls-ridge { border-left-style: ridge; }
.bls-inset { border-left-style: inset; }
.bls-outset { border-left-style: outset; }

.c-auto { cursor: auto; }
.c-default { cursor: default; }
.c-none { cursor: none; }
.c-help { cursor: help; }
.c-pointer { cursor: pointer; }
.c-progress { cursor: progress; }
.c-wait { cursor: wait; }
.c-cell { cursor: cell; }
.c-crosshair { cursor: crosshair; }
.c-text { cursor: text; }
.c-vertical-align { cursor: vertical-align; }
.c-alias { cursor: alias; }
.c-copy { cursor: copy; }
.c-move { cursor: move; }
.c-no-drop { cursor: no-drop; }
.c-not-allowed { cursor: not-allowed; }
.c-col-resize { cursor: col-resize; }
.c-row-resize { cursor: row-resize; }
.c-n-resize { cursor: n-resize; }
.c-e-resize { cursor: e-resize; }
.c-s-resize { cursor: s-resize; }
.c-w-resize { cursor: w-resize; }
.c-ne-resize { cursor: ne-resize; }
.c-nw-resize { cursor: nw-resize; }
.c-se-resize { cursor: se-resize; }
.c-sw-resize { cursor: sw-resize; }
.c-ew-resize { cursor: ew-resize; }
.c-ns-resize { cursor: ns-resize; }
.c-nesw-resize { cursor: nesw-resize; }
.c-nwse-resize { cursor: nwse-resize; }
.c-zoom-in { cursor: zoom-in; }
.c-zoom-out { cursor: zoom-out; }
.c-grab { cursor: grab; }
.c-grabbing { cursor: grabbing; }

.d-b { display: block; }
.d-i { display: inline; }
.d-flow { display: flow; }
.d-flow-root { display: flow-root; }
.d-table { display: table; }
.d-flex { display: flex; }
.d-grid { display: grid; }
.d-table-row-group { display: table-row-group; }
.d-table-header-group { display: table-header-group; }
.d-table-footer-group { display: table-footer-group; }
.d-table-row { display: table-row; }
.d-table-cell { display: table-cell; }
.d-table-column-group { display: table-column-group; }
.d-table-column { display: table-column; }
.d-table-caption { display: table-caption; }
.d-contents { display: contents; }
.d-n { display: none; }
.d-ib { display: inline-block; }
.d-if { display: inline-flex; }
.d-inherit { display: inherit; }
.d-initial { display: initial; }
.d-unset { display: unset; }

.align-items-normal { align-items: normal; }
.align-items-stretch { align-items: stretch; }
.align-items-center { align-items: center; }
.align-items-start { align-items: start; }
.align-items-end { align-items: end; }
.align-items-flex-start { align-items: flex-start; }
.align-items-flex-end { align-items: flex-end; }
.align-items-self-start { align-items: self-start; }
.align-items-self-end { align-items: self-end; }
.align-items-left { align-items: left; }
.align-items-right { align-items: right; }

.flex-0 { flex: 0 0 auto; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }
.flex-9 { flex: 9; }
.flex-10 { flex: 10; }

.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }
.flex-direction-row-reverse { flex-direction: row-reverse; }
.flex-direction-column-reverse { flex-direction: column-reverse; }

.flex-grow-0 { flex-grow: 0 0 auto; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-grow-5 { flex-grow: 5; }
.flex-grow-6 { flex-grow: 6; }
.flex-grow-7 { flex-grow: 7; }
.flex-grow-8 { flex-grow: 8; }
.flex-grow-9 { flex-grow: 9; }
.flex-grow-10 { flex-grow: 10; }

.flex-shrink-0 { flex-shrink: 0 0 auto; }
.flex-shrink-1 { flex-shrink: 1; }
.flex-shrink-2 { flex-shrink: 2; }
.flex-shrink-3 { flex-shrink: 3; }
.flex-shrink-4 { flex-shrink: 4; }
.flex-shrink-5 { flex-shrink: 5; }
.flex-shrink-6 { flex-shrink: 6; }
.flex-shrink-7 { flex-shrink: 7; }
.flex-shrink-8 { flex-shrink: 8; }
.flex-shrink-9 { flex-shrink: 9; }
.flex-shrink-10 { flex-shrink: 10; }

.flex-wrap-row { flex-wrap: row; }
.flex-wrap-column { flex-wrap: column; }
.flex-wrap-row-reverse { flex-wrap: row-reverse; }
.flex-wrap-column-reverse { flex-wrap: column-reverse; }

.justify-content-center { justify-content: center; }
.justify-content-start { justify-content: start; }
.justify-content-end { justify-content: end; }
.justify-content-left { justify-content: left; }
.justify-content-right { justify-content: right; }
.justify-content-flex-start { justify-content: flex-start; }
.justify-content-flex-end { justify-content: flex-end; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-space-around { justify-content: space-around; }
.justify-content-space-evenly { justify-content: space-evenly; }
.justify-content-stretch { justify-content: stretch; }

.f-r { float: right; }
.f-l { float: left; }





.bg-primary-50 { background: #ffebee; }
.bg-primary-100 { background: #ffcdd2; }
.bg-primary-200 { background: #ef9a9a; }
.bg-primary-300 { background: #e57373; }
.bg-primary-400 { background: #ef5350; }
.bg-primary-500 { background: #f44336; }
.bg-primary-600 { background: #e53935; }
.bg-primary-700 { background: #d32f2f; }
.bg-primary-800 { background: #c62828; }
.bg-primary-900 { background: #b71c1c; }
.bg-primary-a100 { background: #ff8a80; }
.bg-primary-a200 { background: #ff5252; }
.bg-primary-a400 { background: #ff1744; }
.bg-primary-a700 { background: #d50000; }
.bg-accent-50 { background: #e8f5e9; }
.bg-accent-100 { background: #c8e6c9; }
.bg-accent-200 { background: #a5d6a7; }
.bg-accent-300 { background: #81c784; }
.bg-accent-400 { background: #66bb6a; }
.bg-accent-500 { background: #4caf50; }
.bg-accent-600 { background: #43a047; }
.bg-accent-700 { background: #388e3c; }
.bg-accent-800 { background: #2e7d32; }
.bg-accent-900 { background: #1b5e20; }
.bg-accent-a100 { background: #b9f6ca; }
.bg-accent-a200 { background: #69f0ae; }
.bg-accent-a400 { background: #00e676; }
.bg-accent-a700 { background: #00c853; }
.bg-grey-50 { background: #fafafa; }
.bg-grey-100 { background: #f5f5f5; }
.bg-grey-200 { background: #eeeeee; }
.bg-grey-300 { background: #e0e0e0; }
.bg-grey-400 { background: #bdbdbd; }
.bg-grey-500 { background: #9e9e9e; }
.bg-grey-600 { background: #757575; }
.bg-grey-700 { background: #616161; }
.bg-grey-800 { background: #424242; }
.bg-grey-900 { background: #212121; }

.bc-primary-50 { border-color: #ffebee; }
.bc-primary-100 { border-color: #ffcdd2; }
.bc-primary-200 { border-color: #ef9a9a; }
.bc-primary-300 { border-color: #e57373; }
.bc-primary-400 { border-color: #ef5350; }
.bc-primary-500 { border-color: #f44336; }
.bc-primary-600 { border-color: #e53935; }
.bc-primary-700 { border-color: #d32f2f; }
.bc-primary-800 { border-color: #c62828; }
.bc-primary-900 { border-color: #b71c1c; }
.bc-primary-a100 { border-color: #ff8a80; }
.bc-primary-a200 { border-color: #ff5252; }
.bc-primary-a400 { border-color: #ff1744; }
.bc-primary-a700 { border-color: #d50000; }
.bc-accent-50 { border-color: #e8f5e9; }
.bc-accent-100 { border-color: #c8e6c9; }
.bc-accent-200 { border-color: #a5d6a7; }
.bc-accent-300 { border-color: #81c784; }
.bc-accent-400 { border-color: #66bb6a; }
.bc-accent-500 { border-color: #4caf50; }
.bc-accent-600 { border-color: #43a047; }
.bc-accent-700 { border-color: #388e3c; }
.bc-accent-800 { border-color: #2e7d32; }
.bc-accent-900 { border-color: #1b5e20; }
.bc-accent-a100 { border-color: #b9f6ca; }
.bc-accent-a200 { border-color: #69f0ae; }
.bc-accent-a400 { border-color: #00e676; }
.bc-accent-a700 { border-color: #00c853; }
.bc-grey-50 { border-color: #fafafa; }
.bc-grey-100 { border-color: #f5f5f5; }
.bc-grey-200 { border-color: #eeeeee; }
.bc-grey-300 { border-color: #e0e0e0; }
.bc-grey-400 { border-color: #bdbdbd; }
.bc-grey-500 { border-color: #9e9e9e; }
.bc-grey-600 { border-color: #757575; }
.bc-grey-700 { border-color: #616161; }
.bc-grey-800 { border-color: #424242; }
.bc-grey-900 { border-color: #212121; }
.btc-primary-50 { border-top-color: #ffebee; }
.btc-primary-100 { border-top-color: #ffcdd2; }
.btc-primary-200 { border-top-color: #ef9a9a; }
.btc-primary-300 { border-top-color: #e57373; }
.btc-primary-400 { border-top-color: #ef5350; }
.btc-primary-500 { border-top-color: #f44336; }
.btc-primary-600 { border-top-color: #e53935; }
.btc-primary-700 { border-top-color: #d32f2f; }
.btc-primary-800 { border-top-color: #c62828; }
.btc-primary-900 { border-top-color: #b71c1c; }
.btc-primary-a100 { border-top-color: #ff8a80; }
.btc-primary-a200 { border-top-color: #ff5252; }
.btc-primary-a400 { border-top-color: #ff1744; }
.btc-primary-a700 { border-top-color: #d50000; }
.btc-accent-50 { border-top-color: #e8f5e9; }
.btc-accent-100 { border-top-color: #c8e6c9; }
.btc-accent-200 { border-top-color: #a5d6a7; }
.btc-accent-300 { border-top-color: #81c784; }
.btc-accent-400 { border-top-color: #66bb6a; }
.btc-accent-500 { border-top-color: #4caf50; }
.btc-accent-600 { border-top-color: #43a047; }
.btc-accent-700 { border-top-color: #388e3c; }
.btc-accent-800 { border-top-color: #2e7d32; }
.btc-accent-900 { border-top-color: #1b5e20; }
.btc-accent-a100 { border-top-color: #b9f6ca; }
.btc-accent-a200 { border-top-color: #69f0ae; }
.btc-accent-a400 { border-top-color: #00e676; }
.btc-accent-a700 { border-top-color: #00c853; }
.btc-grey-50 { border-top-color: #fafafa; }
.btc-grey-100 { border-top-color: #f5f5f5; }
.btc-grey-200 { border-top-color: #eeeeee; }
.btc-grey-300 { border-top-color: #e0e0e0; }
.btc-grey-400 { border-top-color: #bdbdbd; }
.btc-grey-500 { border-top-color: #9e9e9e; }
.btc-grey-600 { border-top-color: #757575; }
.btc-grey-700 { border-top-color: #616161; }
.btc-grey-800 { border-top-color: #424242; }
.btc-grey-900 { border-top-color: #212121; }
.brc-primary-50 { border-right-color: #ffebee; }
.brc-primary-100 { border-right-color: #ffcdd2; }
.brc-primary-200 { border-right-color: #ef9a9a; }
.brc-primary-300 { border-right-color: #e57373; }
.brc-primary-400 { border-right-color: #ef5350; }
.brc-primary-500 { border-right-color: #f44336; }
.brc-primary-600 { border-right-color: #e53935; }
.brc-primary-700 { border-right-color: #d32f2f; }
.brc-primary-800 { border-right-color: #c62828; }
.brc-primary-900 { border-right-color: #b71c1c; }
.brc-primary-a100 { border-right-color: #ff8a80; }
.brc-primary-a200 { border-right-color: #ff5252; }
.brc-primary-a400 { border-right-color: #ff1744; }
.brc-primary-a700 { border-right-color: #d50000; }
.brc-accent-50 { border-right-color: #e8f5e9; }
.brc-accent-100 { border-right-color: #c8e6c9; }
.brc-accent-200 { border-right-color: #a5d6a7; }
.brc-accent-300 { border-right-color: #81c784; }
.brc-accent-400 { border-right-color: #66bb6a; }
.brc-accent-500 { border-right-color: #4caf50; }
.brc-accent-600 { border-right-color: #43a047; }
.brc-accent-700 { border-right-color: #388e3c; }
.brc-accent-800 { border-right-color: #2e7d32; }
.brc-accent-900 { border-right-color: #1b5e20; }
.brc-accent-a100 { border-right-color: #b9f6ca; }
.brc-accent-a200 { border-right-color: #69f0ae; }
.brc-accent-a400 { border-right-color: #00e676; }
.brc-accent-a700 { border-right-color: #00c853; }
.brc-grey-50 { border-right-color: #fafafa; }
.brc-grey-100 { border-right-color: #f5f5f5; }
.brc-grey-200 { border-right-color: #eeeeee; }
.brc-grey-300 { border-right-color: #e0e0e0; }
.brc-grey-400 { border-right-color: #bdbdbd; }
.brc-grey-500 { border-right-color: #9e9e9e; }
.brc-grey-600 { border-right-color: #757575; }
.brc-grey-700 { border-right-color: #616161; }
.brc-grey-800 { border-right-color: #424242; }
.brc-grey-900 { border-right-color: #212121; }
.bbc-primary-50 { border-bottom-color: #ffebee; }
.bbc-primary-100 { border-bottom-color: #ffcdd2; }
.bbc-primary-200 { border-bottom-color: #ef9a9a; }
.bbc-primary-300 { border-bottom-color: #e57373; }
.bbc-primary-400 { border-bottom-color: #ef5350; }
.bbc-primary-500 { border-bottom-color: #f44336; }
.bbc-primary-600 { border-bottom-color: #e53935; }
.bbc-primary-700 { border-bottom-color: #d32f2f; }
.bbc-primary-800 { border-bottom-color: #c62828; }
.bbc-primary-900 { border-bottom-color: #b71c1c; }
.bbc-primary-a100 { border-bottom-color: #ff8a80; }
.bbc-primary-a200 { border-bottom-color: #ff5252; }
.bbc-primary-a400 { border-bottom-color: #ff1744; }
.bbc-primary-a700 { border-bottom-color: #d50000; }
.bbc-accent-50 { border-bottom-color: #e8f5e9; }
.bbc-accent-100 { border-bottom-color: #c8e6c9; }
.bbc-accent-200 { border-bottom-color: #a5d6a7; }
.bbc-accent-300 { border-bottom-color: #81c784; }
.bbc-accent-400 { border-bottom-color: #66bb6a; }
.bbc-accent-500 { border-bottom-color: #4caf50; }
.bbc-accent-600 { border-bottom-color: #43a047; }
.bbc-accent-700 { border-bottom-color: #388e3c; }
.bbc-accent-800 { border-bottom-color: #2e7d32; }
.bbc-accent-900 { border-bottom-color: #1b5e20; }
.bbc-accent-a100 { border-bottom-color: #b9f6ca; }
.bbc-accent-a200 { border-bottom-color: #69f0ae; }
.bbc-accent-a400 { border-bottom-color: #00e676; }
.bbc-accent-a700 { border-bottom-color: #00c853; }
.bbc-grey-50 { border-bottom-color: #fafafa; }
.bbc-grey-100 { border-bottom-color: #f5f5f5; }
.bbc-grey-200 { border-bottom-color: #eeeeee; }
.bbc-grey-300 { border-bottom-color: #e0e0e0; }
.bbc-grey-400 { border-bottom-color: #bdbdbd; }
.bbc-grey-500 { border-bottom-color: #9e9e9e; }
.bbc-grey-600 { border-bottom-color: #757575; }
.bbc-grey-700 { border-bottom-color: #616161; }
.bbc-grey-800 { border-bottom-color: #424242; }
.bbc-grey-900 { border-bottom-color: #212121; }
.blc-primary-50 { border-left-color: #ffebee; }
.blc-primary-100 { border-left-color: #ffcdd2; }
.blc-primary-200 { border-left-color: #ef9a9a; }
.blc-primary-300 { border-left-color: #e57373; }
.blc-primary-400 { border-left-color: #ef5350; }
.blc-primary-500 { border-left-color: #f44336; }
.blc-primary-600 { border-left-color: #e53935; }
.blc-primary-700 { border-left-color: #d32f2f; }
.blc-primary-800 { border-left-color: #c62828; }
.blc-primary-900 { border-left-color: #b71c1c; }
.blc-primary-a100 { border-left-color: #ff8a80; }
.blc-primary-a200 { border-left-color: #ff5252; }
.blc-primary-a400 { border-left-color: #ff1744; }
.blc-primary-a700 { border-left-color: #d50000; }
.blc-accent-50 { border-left-color: #e8f5e9; }
.blc-accent-100 { border-left-color: #c8e6c9; }
.blc-accent-200 { border-left-color: #a5d6a7; }
.blc-accent-300 { border-left-color: #81c784; }
.blc-accent-400 { border-left-color: #66bb6a; }
.blc-accent-500 { border-left-color: #4caf50; }
.blc-accent-600 { border-left-color: #43a047; }
.blc-accent-700 { border-left-color: #388e3c; }
.blc-accent-800 { border-left-color: #2e7d32; }
.blc-accent-900 { border-left-color: #1b5e20; }
.blc-accent-a100 { border-left-color: #b9f6ca; }
.blc-accent-a200 { border-left-color: #69f0ae; }
.blc-accent-a400 { border-left-color: #00e676; }
.blc-accent-a700 { border-left-color: #00c853; }
.blc-grey-50 { border-left-color: #fafafa; }
.blc-grey-100 { border-left-color: #f5f5f5; }
.blc-grey-200 { border-left-color: #eeeeee; }
.blc-grey-300 { border-left-color: #e0e0e0; }
.blc-grey-400 { border-left-color: #bdbdbd; }
.blc-grey-500 { border-left-color: #9e9e9e; }
.blc-grey-600 { border-left-color: #757575; }
.blc-grey-700 { border-left-color: #616161; }
.blc-grey-800 { border-left-color: #424242; }
.blc-grey-900 { border-left-color: #212121; }

.bra-small { border-radius: 1px; }
.bra-medium { border-radius: 2px; }
.bra-large { border-radius: 3px; }
.btrr-small { border-top-right-radius: 1px; }
.btrr-medium { border-top-right-radius: 2px; }
.btrr-large { border-top-right-radius: 3px; }
.bbrr-small { border-bottom-right-radius: 1px; }
.bbrr-medium { border-bottom-right-radius: 2px; }
.bbrr-large { border-bottom-right-radius: 3px; }
.bblr-small { border-bottom-left-radius: 1px; }
.bblr-medium { border-bottom-left-radius: 2px; }
.bblr-large { border-bottom-left-radius: 3px; }
.btlr-small { border-top-left-radius: 1px; }
.btlr-medium { border-top-left-radius: 2px; }
.btlr-large { border-top-left-radius: 3px; }

.bw-small { border-width: 1px; }
.bw-medium { border-width: 2px; }
.bw-large { border-width: 3px; }
.btw-small { border-top-width: 1px; }
.btw-medium { border-top-width: 2px; }
.btw-large { border-top-width: 3px; }
.brw-small { border-right-width: 1px; }
.brw-medium { border-right-width: 2px; }
.brw-large { border-right-width: 3px; }
.bbw-small { border-bottom-width: 1px; }
.bbw-medium { border-bottom-width: 2px; }
.bbw-large { border-bottom-width: 3px; }
.blw-small { border-left-width: 1px; }
.blw-medium { border-left-width: 2px; }
.blw-large { border-left-width: 3px; }

.fc-primary-50 { color: #ffebee; }
.fc-primary-100 { color: #ffcdd2; }
.fc-primary-200 { color: #ef9a9a; }
.fc-primary-300 { color: #e57373; }
.fc-primary-400 { color: #ef5350; }
.fc-primary-500 { color: #f44336; }
.fc-primary-600 { color: #e53935; }
.fc-primary-700 { color: #d32f2f; }
.fc-primary-800 { color: #c62828; }
.fc-primary-900 { color: #b71c1c; }
.fc-primary-a100 { color: #ff8a80; }
.fc-primary-a200 { color: #ff5252; }
.fc-primary-a400 { color: #ff1744; }
.fc-primary-a700 { color: #d50000; }
.fc-accent-50 { color: #e8f5e9; }
.fc-accent-100 { color: #c8e6c9; }
.fc-accent-200 { color: #a5d6a7; }
.fc-accent-300 { color: #81c784; }
.fc-accent-400 { color: #66bb6a; }
.fc-accent-500 { color: #4caf50; }
.fc-accent-600 { color: #43a047; }
.fc-accent-700 { color: #388e3c; }
.fc-accent-800 { color: #2e7d32; }
.fc-accent-900 { color: #1b5e20; }
.fc-accent-a100 { color: #b9f6ca; }
.fc-accent-a200 { color: #69f0ae; }
.fc-accent-a400 { color: #00e676; }
.fc-accent-a700 { color: #00c853; }
.fc-grey-50 { color: #fafafa; }
.fc-grey-100 { color: #f5f5f5; }
.fc-grey-200 { color: #eeeeee; }
.fc-grey-300 { color: #e0e0e0; }
.fc-grey-400 { color: #bdbdbd; }
.fc-grey-500 { color: #9e9e9e; }
.fc-grey-600 { color: #757575; }
.fc-grey-700 { color: #616161; }
.fc-grey-800 { color: #424242; }
.fc-grey-900 { color: #212121; }

.fs-small { font-size: 0.8rem; }
.fs-medium { font-size: 1rem; }
.fs-large { font-size: 1.5rem; }

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }

.h-1 { height: 1rem; }
.h-2 { height: 2rem; }
.h-3 { height: 4rem; }
.h-4 { height: 8rem; }
.h-5 { height: 16rem; }
.h-6 { height: 32rem; }
.h-7 { height: 64rem; }
.h-8 { height: 128rem; }

.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 3px; }
.ls-4 { letter-spacing: 4px; }

.lh-1 { line-height: 0.8em; }
.lh-2 { line-height: 1em; }
.lh-3 { line-height: 1.2em; }
.lh-4 { line-height: 1.5em; }
.lh-5 { line-height: 2em; }

.ma-1 { margin: 1rem; }
.ma-2 { margin: 2rem; }
.ma-3 { margin: 3rem; }
.ma-4 { margin: 4rem; }
.ma-5 { margin: 5rem; }
.ma-6 { margin: 6rem; }
.ma-7 { margin: 7rem; }
.ma-8 { margin: 8rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }
.mt-5 { margin-top: 5rem; }
.mt-6 { margin-top: 6rem; }
.mt-7 { margin-top: 7rem; }
.mt-8 { margin-top: 8rem; }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.mr-4 { margin-right: 4rem; }
.mr-5 { margin-right: 5rem; }
.mr-6 { margin-right: 6rem; }
.mr-7 { margin-right: 7rem; }
.mr-8 { margin-right: 8rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }
.mb-5 { margin-bottom: 5rem; }
.mb-6 { margin-bottom: 6rem; }
.mb-7 { margin-bottom: 7rem; }
.mb-8 { margin-bottom: 8rem; }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.ml-3 { margin-left: 3rem; }
.ml-4 { margin-left: 4rem; }
.ml-5 { margin-left: 5rem; }
.ml-6 { margin-left: 6rem; }
.ml-7 { margin-left: 7rem; }
.ml-8 { margin-left: 8rem; }

.maxh-1 { max-height: 1rem; }
.maxh-2 { max-height: 2rem; }
.maxh-3 { max-height: 3rem; }
.maxh-4 { max-height: 4rem; }
.maxh-5 { max-height: 5rem; }
.maxh-6 { max-height: 6rem; }
.maxh-7 { max-height: 7rem; }
.maxh-8 { max-height: 8rem; }

.maxw-1 { max-width: 1rem; }
.maxw-2 { max-width: 2rem; }
.maxw-3 { max-width: 3rem; }
.maxw-4 { max-width: 4rem; }
.maxw-5 { max-width: 5rem; }
.maxw-6 { max-width: 6rem; }
.maxw-7 { max-width: 7rem; }
.maxw-8 { max-width: 8rem; }

.minh-1 { min-height: 1rem; }
.minh-2 { min-height: 2rem; }
.minh-3 { min-height: 3rem; }
.minh-4 { min-height: 4rem; }
.minh-5 { min-height: 5rem; }
.minh-6 { min-height: 6rem; }
.minh-7 { min-height: 7rem; }
.minh-8 { min-height: 8rem; }

.minw-1 { min-width: 1rem; }
.minw-2 { min-width: 2rem; }
.minw-3 { min-width: 3rem; }
.minw-4 { min-width: 4rem; }
.minw-5 { min-width: 5rem; }
.minw-6 { min-width: 6rem; }
.minw-7 { min-width: 7rem; }
.minw-8 { min-width: 8rem; }

.o-10 { opacity: 0.1; }
.o-20 { opacity: 0.2; }
.o-30 { opacity: 0.3; }
.o-40 { opacity: 0.4; }
.o-50 { opacity: 0.5; }
.o-60 { opacity: 0.6; }
.o-70 { opacity: 0.7; }
.o-80 { opacity: 0.8; }
.o-90 { opacity: 0.9; }
.o-100 { opacity: 1; }

.oo-small { outline-offset: 1px; }
.oo-medium { outline-offset: 2px; }
.oo-large { outline-offset: 3px; }

.oc-primary-50 { outline-color: #ffebee; }
.oc-primary-100 { outline-color: #ffcdd2; }
.oc-primary-200 { outline-color: #ef9a9a; }
.oc-primary-300 { outline-color: #e57373; }
.oc-primary-400 { outline-color: #ef5350; }
.oc-primary-500 { outline-color: #f44336; }
.oc-primary-600 { outline-color: #e53935; }
.oc-primary-700 { outline-color: #d32f2f; }
.oc-primary-800 { outline-color: #c62828; }
.oc-primary-900 { outline-color: #b71c1c; }
.oc-primary-a100 { outline-color: #ff8a80; }
.oc-primary-a200 { outline-color: #ff5252; }
.oc-primary-a400 { outline-color: #ff1744; }
.oc-primary-a700 { outline-color: #d50000; }
.oc-accent-50 { outline-color: #e8f5e9; }
.oc-accent-100 { outline-color: #c8e6c9; }
.oc-accent-200 { outline-color: #a5d6a7; }
.oc-accent-300 { outline-color: #81c784; }
.oc-accent-400 { outline-color: #66bb6a; }
.oc-accent-500 { outline-color: #4caf50; }
.oc-accent-600 { outline-color: #43a047; }
.oc-accent-700 { outline-color: #388e3c; }
.oc-accent-800 { outline-color: #2e7d32; }
.oc-accent-900 { outline-color: #1b5e20; }
.oc-accent-a100 { outline-color: #b9f6ca; }
.oc-accent-a200 { outline-color: #69f0ae; }
.oc-accent-a400 { outline-color: #00e676; }
.oc-accent-a700 { outline-color: #00c853; }
.oc-grey-50 { outline-color: #fafafa; }
.oc-grey-100 { outline-color: #f5f5f5; }
.oc-grey-200 { outline-color: #eeeeee; }
.oc-grey-300 { outline-color: #e0e0e0; }
.oc-grey-400 { outline-color: #bdbdbd; }
.oc-grey-500 { outline-color: #9e9e9e; }
.oc-grey-600 { outline-color: #757575; }
.oc-grey-700 { outline-color: #616161; }
.oc-grey-800 { outline-color: #424242; }
.oc-grey-900 { outline-color: #212121; }

.ow-small { outline-width: 1px; }
.ow-medium { outline-width: 2px; }
.ow-large { outline-width: 3px; }

.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }
.p-4 { padding: 4rem; }
.p-5 { padding: 5rem; }
.p-6 { padding: 6rem; }
.p-7 { padding: 7rem; }
.p-8 { padding: 8rem; }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pt-5 { padding-top: 5rem; }
.pt-6 { padding-top: 6rem; }
.pt-7 { padding-top: 7rem; }
.pt-8 { padding-top: 8rem; }
.pr-1 { padding-right: 1rem; }
.pr-2 { padding-right: 2rem; }
.pr-3 { padding-right: 3rem; }
.pr-4 { padding-right: 4rem; }
.pr-5 { padding-right: 5rem; }
.pr-6 { padding-right: 6rem; }
.pr-7 { padding-right: 7rem; }
.pr-8 { padding-right: 8rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-5 { padding-bottom: 5rem; }
.pb-6 { padding-bottom: 6rem; }
.pb-7 { padding-bottom: 7rem; }
.pb-8 { padding-bottom: 8rem; }
.pl-1 { padding-left: 1rem; }
.pl-2 { padding-left: 2rem; }
.pl-3 { padding-left: 3rem; }
.pl-4 { padding-left: 4rem; }
.pl-5 { padding-left: 5rem; }
.pl-6 { padding-left: 6rem; }
.pl-7 { padding-left: 7rem; }
.pl-8 { padding-left: 8rem; }

.post-1 { top: 1rem; }
.post-2 { top: 2rem; }
.post-3 { top: 3rem; }
.post-4 { top: 4rem; }
.post-5 { top: 5rem; }
.post-6 { top: 6rem; }
.post-7 { top: 7rem; }
.post-8 { top: 8rem; }
.posr-1 { right: 1rem; }
.posr-2 { right: 2rem; }
.posr-3 { right: 3rem; }
.posr-4 { right: 4rem; }
.posr-5 { right: 5rem; }
.posr-6 { right: 6rem; }
.posr-7 { right: 7rem; }
.posr-8 { right: 8rem; }
.posb-1 { bottom: 1rem; }
.posb-2 { bottom: 2rem; }
.posb-3 { bottom: 3rem; }
.posb-4 { bottom: 4rem; }
.posb-5 { bottom: 5rem; }
.posb-6 { bottom: 6rem; }
.posb-7 { bottom: 7rem; }
.posb-8 { bottom: 8rem; }
.posl-1 { left: 1rem; }
.posl-2 { left: 2rem; }
.posl-3 { left: 3rem; }
.posl-4 { left: 4rem; }
.posl-5 { left: 5rem; }
.posl-6 { left: 6rem; }
.posl-7 { left: 7rem; }
.posl-8 { left: 8rem; }

.w-1 { width: 1rem; }
.w-2 { width: 2rem; }
.w-3 { width: 4rem; }
.w-4 { width: 8rem; }
.w-5 { width: 16rem; }
.w-6 { width: 32rem; }
.w-7 { width: 64rem; }
.w-8 { width: 128rem; }

.ws-1 { word-spacing: 1px; }
.ws-2 { word-spacing: 2px; }
.ws-3 { word-spacing: 3px; }
.ws-4 { word-spacing: 4px; }
